/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#remover as imagens
storage/app/public

#ocuttar token
server_deploy.sh

#outros
envio_email.sh
laravel.log
nohup.out
composer.lock
composer.json
composer.lock
config/app.php
config/app.php
composer.lock
*.json
composer.json
composer.lock
config/app.php
